

{% extends 'base.html' %}

{% block content %}
    <div class="background">
        <h1>YouFit</h1>
        <p>Staying fit is paramount for many peoples lives, we aim to help bring fitness, health and 
            wellbeing to all that are aspiring to help increase their fitness levels.         
        </p>
        <p>Are you looking for motivational videos, plans or just a way to keep yourself inspired to 
            carry on your journey? Get in touch if you're needing some help from one of our experts!
        </p>
    </div>
{% endblock %}